@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    @apply bg-bgMainColor;
    @apply transition duration-300 ease-in-out;
}

.button {
    @apply bg-base text-white px-4 py-2 rounded hover:bg-baseHover
     transition duration-300;
}
